name: Release Pipeline

on:
    pull_request:
        types: [closed]
        branches: [main]

permissions:
    contents: write

jobs:
    setup:
        if: github.event.pull_request.merged == true
        uses: ./.github/workflows/reusable/2-setup-go.yml
        with:
            go_version: "1.25.4"
        secrets: inherit

    run-tests:
        if: github.event.pull_request.merged == true
        needs: setup
        uses: ./.github/workflows/reusable/3-run-tests.yml
        with:
            cache_key: ${{ needs.setup.outputs.cache_key }}
        secrets: inherit

    create-version-tag:
        if: github.event.pull_request.merged == true
        needs: run-tests
        uses: ./.github/workflows/reusable/4-create-version-tag.yml
        with:
            git_user_name: "Raywall Malheiros"
            git_user_email: "raywall.malheiros@gmail.com"
        secrets: inherit

    # TROCA: Usar release-go.yml em vez de publish-release.yml
    release-go:
        if: github.event.pull_request.merged == true
        needs: create-version-tag
        uses: ./.github/workflows/reusable/5-release-go.yml
        with:
            go_version: "1.25.4"
            new_tag: ${{ needs.create-version-tag.outputs.new_tag }}
            previous_tag: ${{ needs.create-version-tag.outputs.previous_tag }}
        secrets: inherit
